body {
    background-color: rgb(46, 85, 203);
    
}
    
@font-face {
    font-family: 'CoffeeHealing';
    src: url('./fonts/CoffeeHealing-1GrKe.ttf') format('truetype');
}

h1 {
    font-family: 'CoffeeHealing', sans-serif;
    text-align: center;
}
