body {
    background-color: rgb(11, 35, 109);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


#myParagraph {
    margin-top: 20px;
    font-size: 20px;
  }


#myContainer {
    width: 800px;
    height: 800px;
    position: relative;
    background: rgb(104, 135, 175);
  }
  
  #myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
  }

nav {
    background-color: black;
    display: block;
    padding: 1em 0;
    text-align: center;
    width: 200px;
}


nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

.scrolling-box {
    background-color: #867f7f;
    display: block;
    height: 800px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
    width: 800px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

@font-face {
    font-family: 'CoffeeHealing';
    src: url('./fonts/CoffeeHealing-1GrKe.ttf') format('truetype');
}

h1 {
    font-family: 'CoffeeHealing', sans-serif;
    text-align: center;
    color: aliceblue;
}

ul {
    list-style-type: none;
    margin: 1;
    padding: 0;
  }